language: java

matrix:
  include:
  - os: linux
    dist: trusty
    jdk: openjdk8
  - os: linux
    dist: trusty
    jdk: oraclejdk8
  - os: linux
    dist: xenial
    jdk: openjdk9


install: true
after_success:
  - mvn clean verify org.jacoco:jacoco-maven-plugin:report org.eluder.coveralls:coveralls-maven-plugin:report
